@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Handjet:wght@300&family=Henny+Penny&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Handjet:wght@300&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Handjet:wght@300&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Griffy&family=Handjet:wght@300&family=Henny+Penny&family=Orbitron:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Henny Penny', cursive;
}
#one{
    background-image: url(bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
#two{
    background-image: url(img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    background-attachment: fixed;
}
#three{
    background-image: url(bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-bar{
    
    
    position: fixed;
    right: 0%;
    bottom: 28%;
}
.nav-bar ul{
    padding: 10px;
    padding-right: 15px;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(bg-img-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav-bar ul li{
    padding: 2px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    
}
.nav-bar ul li a{
    color: black;
}
.main-content{
    text-align: center;
}
.main-content h1{
    font-size: 50px;
}
.main-content h1 span{
    font-size: 60px;
}
.main-content h1 a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 3px solid black;
    border-radius: 8px;
}
.main-content h1 a:hover{
    background-color: black;
    color: goldenrod;
    border: 3.5px solid black;
}
.main-content .more {
    margin-top: 15px;
}
.main-content .more a{
    position: relative;
    animation: mymove 1s infinite;
}
#more{
    animation-timing-function: ease;
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 20px;}
}
.sub-heading{
    color: white;
}
.sub-heading span{
    color: goldenrod;
    font-size: 50px;
}
.para{
    font-family: 'Griffy', cursive;
    font-size: 23px;
}
.ubutton{
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid goldenrod;
    border-radius: 8px;
    color: whitesmoke;
}
.About h3{
    margin-top: 25px;
}
.container-edu{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
}
.edu-img{
    flex: 50%;
    text-align: center;
}
.edu-content{
    flex: 50%;
}
.container-edu .edu-img img{
    width: 500px;
}
.btn-box{
    display: flex;
    gap: 20px;
    font-weight: bold;
}
.btn-box a{
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    cursor: pointer;
    font-size: 20px;
}
#btn-1{
    border-bottom: 2px solid black;
}
#btn-2{
    border-bottom: 2px solid transparent;
}
#btn-3{
    border-bottom: 2px solid transparent;
}
#btn-4{
    border-bottom: 2px solid black;
}
#btn-5{
    border-bottom: 2px solid transparent;
}

.graduation p{
    padding-bottom: 15px;
}
#grd{
    display: block;
}
#dip{
    display: none;
}
#school{
    display: none;
}
#four{
    background-image: url(img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-attachment: fixed;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#five{
    background-image: url(bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

}
.flex_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_items .box{
    background-image: url(img4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    margin: 20px;
    color: black;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.box1{
    padding-left: 10px;
    padding-right: 10px;
}
.box1 h3{
    text-align: center;
}
#web-projects{
    display: flex;
}
.web-projects{
    flex-wrap: wrap;
    justify-content: center;
}
.web-projects .box{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin: 8px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}
#college-projects{
    display: none;;
}

.college-projects{
    flex-wrap: wrap;
    justify-content: center;
}
.college-projects .box{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin: 8px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}
.card-heading{
    font-size: 20px;
    text-decoration: underline;
    color: goldenrod;
}
.para-card{
    font-family: 'Griffy', cursive;
    font-size: 19px;
}
.cbutton{
    text-decoration: none;
    padding: 3px 10px;
    border: 1px solid goldenrod;
    border-radius: 8px;
    color: whitesmoke;
}
#six{
    background-image: url(footer-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
.contacts{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    text-align: center;
}
.contact-info{
    flex: 50%;
    text-align: left;
}
.contact-links{
    padding-left: 30px;
    flex: 50%;
    text-align: left;
}
.social-links{
    padding-top: 15px;
    display: grid;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #333333;

}
.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: goldenrod;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
.fast-links{
    display: flex;
    flex-direction: column;
}
.fast-links ul li{
    padding-top: 3px;
    padding-left: 5px;
    color: white;
    list-style: none;

}
.fast-links ul li a{
    text-decoration: none;
    color: white;
}
.fast-links ul li a:hover{
    text-decoration: underline;
    color: white;
}
.links{
    display: flex;
    gap: 70px;
}
.address{
    padding-left: 7px;
    padding-top: 20px;
}

@media only screen and (max-width: 1441px){
    
}
@media only screen and (max-width: 1025px){
    .container-edu .edu-img img{
        width: 350px;
    }
    .edu-img{
    text-align: center;
    flex: 50%;
    }
    .edu-content{
    flex: 50%;
    text-align: center;
    }
    .flex_items .box{
        background-image: url(img4.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200px;
        margin: 10px;
        color: black;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    .box1 h3{
        font-size: 13px;
    }

}


/* Tab mode */
@media only screen and (max-width: 769px){

    #two{
        padding-left: 40px;
        padding-right: 40px;
    }
    .container-edu .edu-img img{
        width: 330px;
    }
    #four{
        padding-left: 0px;
        padding-right: 0px;
    
    

}

/* mobile large */
@media only screen and (max-width: 426px){
    .main-content h1{
        font-size: 30px;
    }
    .main-content h1 span{
        font-size: 35px;
    }
    .main-content h1 a{
        font-size: 13px;
    }
    #two{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .para{
        font-size: 18px;
    }
    .ubutton{
        text-decoration: none;
        padding: 5px 15px;
        border: 1px solid goldenrod;
        border-radius: 8px;
        color: whitesmoke;
        font-size: 15px;
    }
    .nav-bar{
        width: 80%;
        position: fixed;
        left: 50%;
        bottom: 0%; 
        transform: translateX(-50%);
    }
    .nav-bar ul{
        justify-content: center;
        display: flex;
        gap: 10px;
        padding-bottom: 0px;
        font-size: 26px;
        color: black;
        border-right: 2px solid black;
        border: 2px solid black;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom: 0px;
        background-image: url(bg-img-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #four{
        height: fit-content;
        padding-left: 0px;
        padding-right: 0px;
    }
    .flex_items .box{
        background-image: url(img4.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150px;
        margin: 5px;
        color: black;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    .box1 h3{
        font-size: 9px;
    }
    .container-edu .edu-img img{
        width: 250px;
    }
    .btn-box a{
        text-decoration: none;
        color: black;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        font-size: 14px;
    }
    .web-projects .box{
        width: 150px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.733);
        margin: 5px;
        border-radius: 8px;
        text-align: center;
        justify-content: center;
        padding: 5px;
    }
    .card-heading{
        font-size: 13px;
    }
    .para-card{
        font-family: 'Griffy', cursive;
        font-size: 13px;
    }
    .cbutton{
        text-decoration: none;
        padding: 3px 10px;
        border: 1px solid goldenrod;
        border-radius: 8px;
        font-size: 12px;
        color: whitesmoke;
    }


}

/* mobile small */
@media only screen and (max-width: 321px){
    .nav-bar ul{
        font-size: 23px;
    }
    .flex_items .box{
        background-image: url(img4.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150px;
        margin: 5px;
        color: black;
        height: 28vh;
        display: flex;
        align-items: center;
        justify-content: center;  
    }

}}